<div style="height: 100vh; width: 100vw; background-color: black;margin: 0px; overflow: hidden;">
    <!-- Navbar -->
    <div
        style="display: flex;flex-direction: row;justify-content: space-between;align-items: center;color: rgb(9, 99, 81); background-color: rgb(38, 216, 110); padding: 10px 40px;font-size: 30px; margin:0px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: 500;">
        <p style="margin: 0px;">Routing</p>
        <div (click)="changeUser()"
            style="background-color: rgb(9, 9, 8); padding: 5px 15px; border-radius: 10%; cursor: pointer;">
            <p style="margin: 0px; font-size: 20px; color: white;">{{isUser?"User":"Admin"}}</p>
        </div>
    </div>
    <!-- Router Outlet -->
    <nav
        style="display: flex; flex-direction: row; background-color: rgb(232, 235, 234); font-size: larger; padding: 14px 20px; gap:30px ; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
        <a [routerLink]="['home']" routerLinkActive="active" (click)="handleUnauthorizedLinks()" style="cursor: pointer;">Home</a>
        <a [routerLink]="['projects']" routerLinkActive="active" style="cursor: pointer;">Projects</a>
        <a [routerLink]="['settings']" routerLinkActive="active" (click)="handleUnauthorizedLinks()" style="cursor: pointer;">Settings</a>
    </nav>
    <router-outlet></router-outlet>

</div>