<div  style="display: flex; flex-direction: row; gap: 20px; margin: 20px 2px;">
    <div *ngFor="let item of path; let last = last">
        <p *ngIf="item">{{item}}{{!last ? ' >' : ''}}</p> 
    </div>
</div>
<div style="display: flex; flex-direction: column; gap: 20px;margin: 20px; ">
    <input type="text" [(ngModel)]="searchString" (ngModelChange)="handleChange($event)" placeholder="Enter value" style="padding: 15px 20px; border-radius: 10px; font-size: 20px; border: 1px solid rgb(9, 9, 8);"/>
    
    <div appHighlight [searchtext]="searchString"   style="font-size: 30px; overflow-y: scroll; height: 100%; padding: 10px;overflow-x: hidden; scrollbar-width: none;color: white;">
        <p style="text-wrap: wrap;word-spacing: 10px;"> {{paragraphContent}} </p>
 

            <p style="text-wrap: wrap;word-spacing: 10px; color:white"> It had been her dream for years but Dana had failed to take any action toward making it come true. There had always been a good excuse to delay or prioritize another project. As she woke, she realized she was once again at a crossroads. Would it be another excuse or would she finally find the courage to pursue her dream? Dana rose and took her first step.
            </p>
       <div>
         <p>Paragraph Content 1</p>
       </div>
       <div>
        Paragraph Content 2
       </div>
       <div>
          <div>
            <div>
                <p>Paragraph Content 3</p>
                <i style="font-size: x-large; color:red">
                    <span>Para</span>
                    <span style="color: blue;">
                        Paragraph 

                    Content 4
                </span>
            </i>
            </div>
          </div>
          <div>
            Paragraph Content 5
          </div>
       </div>
         <!-- {{paragraphContent}} -->
    </div>
 
</div>
