<div style="display: flex; flex-direction: row; gap: 20px; margin: 20px 2px;">
    <div *ngFor="let item of path; let last = last">
        <p *ngIf="item">{{item}}{{!last ? ' >' : ''}}</p> 
    </div>
</div>

<div style="display: flex; flex-direction: column; width: 30%; gap:20px;align-self: center; margin: 0px 30px;">
 <input style="padding: 15px 10px; border-radius: 10px;" type="text" [(ngModel)]="name" placeholder="Enter name">
 <input style="padding: 15px 10px; border-radius: 10px;" type="email" [(ngModel)]="email" placeholder="Enter name">
 <button style="padding: 15px 10px; border-radius: 10px;" type="submit" (click)="onSubmit()">Submit</button>
</div>